// Color Palette

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

$very-pale-blue-01: hsl(225, 100%, 98%);
$very-pale-blue-02: #d6e1fe;
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);


// Breakpoints

$mobile: 375px;
$desktop: 1440px;