@import "mixins";

* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media (max-width: $mobile) { 
        font-size: 14px;
    }
}

body {
    background: $pale-blue url("./images/pattern-background-desktop.svg") no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100vw 50vh;
    height: 100vh;

    @media (max-width: $mobile) { 
        background: $pale-blue url("./images/pattern-background-mobile.svg") no-repeat;
        justify-content: unset;
    }
}

.custom-shape-divider-top-1629783913 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: $pale-blue;

    @media (max-width: $mobile) {
        display: none;
    }
}


.custom-shape-divider-top-1629783913 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 25vh;
}

.custom-shape-divider-top-1629783913 .shape-fill {
    fill: $very-pale-blue-02;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}

.card {
    background-color: #fff;
    display: block;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 20px 24px rgba($desaturated-blue, .2);

    &__image {
        background: url("./images/illustration-hero.svg") center;
        background-size: cover;
        display: block;
        height: 25vh;        
    }

    &__content {
        padding: 10%;
        line-height: 1.6;
        color: $dark-blue;
    }

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__info { color: $desaturated-blue; }

    .order {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        background-color: $very-pale-blue-01;
        border-radius: 10px;
        margin: 1.5rem 0;

        &__icon { 
            margin-right: 1rem; 
            height: 50px;
            width: 50px;
            
            .icon {
                background: url("./images/icon-music.svg") center;
                height: 100%;
            }
        }

        .order-plan {
            flex: 2;
            text-align: left;

            > div { font-size: 14px; }
            &__title { font-weight: 900; }
            &__price { color: $desaturated-blue; }
        }

        &__change-plan a { 
            font-size: 14px;
            color: $bright-blue;
        }
    }

    .btn {
        display: block;
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        transition: .2s all ease-in-out;

        &:hover { cursor: pointer; } 
    }

    .proceed {
        background-color: $bright-blue;
        color: #fff;
        margin-bottom: 10px;
        box-shadow: 0 10px 20px rgba($desaturated-blue, .5);

        &:hover { box-shadow: 0 4px 10px rgba($desaturated-blue, .7);}
    }

    .cancel {
        color: $desaturated-blue;

        &:hover { text-decoration: underline; }
    } 
}

.attribution, .attribution > * {
    font-size: 10px;
    color: $desaturated-blue;
}